button{
    padding: 20px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: grey;
    padding-bottom:20px ;
    width: 20vh;
    text-align: justify;
    font-size: medium;
}

#itemList{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: justify;
    background-color: black;
    color: aliceblue;
    text-decoration: aqua;
}
h1 {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: coral;
}
body {
    background-color: dimgray;
}
p{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: justify;
    color: aliceblue;
}
#form{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: justify;
}
.buy{
    text-decoration: line-through;
    color: rgb(110, 195, 76);
    font-size: 20px;
    padding: 35px;
}

.right{
    color:yellowgreen;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
